<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nosotros</title>
    <!-- Link a google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <!-- Link a archivo css -->
    <link rel="stylesheet" href="../css/estilos.css">
  </head>
  <body>
    <div class="padre">
      <!-- Acá empieza mi encabezado -->
      <header>
        <nav>
          <div>
            <a href="../index.html">
              <img src="../assets/img/icono_laCantina.png" alt="logo">
              <strong class="logoNombre">La cantina</strong>
            </a>
          </div>
          <ul class="paginas">
            <li>
              <a href="../index.html">Inicio</a>
            </li>
            <li>
              <a href="../index.html ">Nosotros</a>
            </li>
            <li>
              <a href="formas-de-pago.html">Formas de pago</a>
            </li>
            <li>
              <a href="contacto.html">Contacto</a>
            </li>
          </ul>
        </nav>
      </header>
      <!-- Acá termina mi encabezado -->
      <!-- Acá empieza mi contenido principal -->
      <main class="main_fondo">

        <section>
            <h1>Acerca de nosotros</h1>
            <div class="contenedor_nosotros">
              <h2 class="nosotros_titulo">¿Quiénes somos?</h2>
            </div>
            <div>
              <p class="nosotros_texto">
              Somos un equipo de expertos en bebidas dedicado a proveer la mas amplia variedad deproductos a clientes de todo el pais. <br/>Nos enfocamos en um servicio personalizado,facilidad de compra y entregas inmediatas.
              </p>
            </div>
        </section>

        <section>
          <div class="contenedor_nosotros">
            <h2 class="nosotros_titulo">¿Nuestra misión?</h2>
          </div>
          <div>
              <p class="nosotros_texto">Contar con la mas amplia variedad de bebidas y proveer a clientes de todo el pais.</p>
          </div>
        </section>

        <section>
          <div class="contenedor_nosotros">
            <h2 class="nosotros_titulo">¿Nuestra visión?</h2>
          </div>
        <div>
          <p class="nosotros_texto">Ser los primeros en los que pienses cuando tengas que comprar bebidas, estes donde estes.</p>
        </div>
        </section>

      </main>
      <!-- Acá termina mi contenido principal -->
      <!-- Acá empieza mi pie de página -->
      <footer>
        <div>
          <a href="../index.html">
            <img src="../assets/img/icono_laCantina.png" alt="logo">
          </a>
          <p>© La cantina All Rights Reserved</p>
        </div>
        <div>
          <h3>Seguinos y contactanos</h3>
          <img src="../assets/img/instagram.png" alt="instagram">
          <img src="../assets/img/facebook.png" alt="facebook">
          <img src="../assets/img/whatsapp.png" alt="whatsapp">
          <img src="../assets/img/twitter.png" alt="twitter">
        </div>
      </footer>
      <!-- Acá termina mi pie de página -->
    </div>
  </body>
</html>
